<div>
  <div *ngIf="showAssignments; else assignmentsHidden">
    <button
      type="button"
      class="btn btn-default dropdown-toggle"
      (click)="toggleShowAssignments()"
    >
      Hide assignments
    </button>
    <h2>Assignments:</h2>
    <h4>Assignment 1</h4>
    <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert>
    <hr />
    <h4>Assignment 2</h4>
    <app-username-input></app-username-input>
    <hr />
    <h4>Assignment 3</h4>
    <app-conditional-content-example></app-conditional-content-example>
  </div>
  <ng-template #assignmentsHidden>
    <button
      type="button"
      class="btn btn-default dropdown-toggle"
      (click)="toggleShowAssignments()"
    >
      Show assignments
    </button>
  </ng-template>
</div>
