<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <li class="list-group-item"></li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>Test paragraph...</p>
      <!-- special simpler syntax for property binding: defaultColor="#eee" -->
      <p appBetterHighlight defaultColor="#eee" highlightColor="#7b7">
        A better test paragraph...
      </p>
    </div>
  </div>
</div>
