<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="user">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username"
            />
            <span
              *ngIf="
                !signupForm.get('user.username').valid &&
                signupForm.get('user.username').touched
              "
              class="help-block"
            >
              <span
                *ngIf="
                  signupForm.get('user.username').errors['nameIsForbidden']
                "
              >
                this field is forbidden! <br />
                Forbidden names: {{ forbiddenUsernames.join(', ') }}
              </span>
              <span *ngIf="signupForm.get('user.username').errors['required']">
                this field is required!
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
            />
            <span *ngIf="emailFieldValidationMessage" class="help-block">
              {{ emailFieldValidationMessage }}
            </span>
          </div>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" [value]="gender" formControlName="gender" />
            {{ gender }}
          </label>
        </div>
        <hr />
        <div formArrayName="hobbies">
          <h4>Hobbies:</h4>
          <div
            class="form-group"
            *ngFor="let hobby of hobbyControls; let idx = index"
          >
            <input type="text" class="form-control" [formControlName]="idx" />
          </div>
          <button class="btn btn-default" type="button" (click)="addHobby()">
            Add hobby
          </button>
        </div>
        <hr />
        <span
          *ngIf="!signupForm.valid && signupForm.touched"
          class="help-block"
        >
          form data is invalid!
        </span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
